NEXT_PUBLIC_STRIPE_SCALPER_LINK=
NEXT_PUBLIC_STRIPE_SWING_LINK=
NEXT_PUBLIC_STRIPE_SWING_TRIAL_LINK=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_MONTHLY_LINK=https://buy.stripe.com/4gM8wQfxJ6gI1IabYM6kg05
NEXT_PUBLIC_STRIPE_LIFETIME_LINK=https://buy.stripe.com/6oUcN62KX0WoeuW1k86kg04
NEXT_PUBLIC_SITE_URL=https://darthalgo.com
NEXT_PUBLIC_SUPPORT_EMAIL=darthalgo67@gmail.com
